body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.card {
  /* background-color: lightcyan; */
  display: inline-block;
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  float: left;
  width: 18em;
  height: 12em;
  margin-right: 2em;
}

.title-highlight {
  color: midnightblue;
}

.title-highlight::after {
  content: " ";
  display: block;
  /* clear: both; */
}

@media (max-width: 650px) {
  .card {
    display: block;
    width: 90%;
    margin: 0 auto 2em;
    text-align: justify;
  }

  .left {
    float: none;
  }

  .right {
    float: none;
  }

  .tile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .main > h1 {
    text-align: center;
  }
}
